.bg-primary {
    background-color: #fff!important;
    color: #F29966;
}

body {
    background-color: #F29966;
}

.currentPage {
    font-size: 11px;
}

button.loginButton {
    margin-right: 1.2em;
}

.button-profile-group {
    float: right;
    position: absolute;
    right: 0px;
}

button.profileButton {
    border: 1px solid #F29966;
    background: #fff;
    color: #F29966;
    padding: .5em;
}

.userForm {
    position: absolute;
    width: 50%;
    right: 25%;
    top: 25%;
}

.userForm .h3 {
    text-align: center;
    padding: 2em;
    color: #F29966;
}