.bg-primary {
    background-color: #fff !important;
    color: #5d77df;
}

body {
    background-color: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
}

.currentPage {
    font-size: 11px;
}

button.loginButton {
    margin-right: 1.2em;
}

.button-profile-group {
    margin-top: .2em;
    float: right;
    position: absolute;
    right: 0px;
}

button.profileButton {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #d34845;
    background: #fff;
    color: #d34845;
    padding: .5em;
}

.userForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
}

.userForm .h3 {
    text-align: center;
    padding: 2em;
    color: #5d77df;
}


.btnUserForm {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    background-color: #5d77df;
    font-size: 1rem;
    margin-bottom: 1em;
    border: 1px solid transparent;
}

.sidebar {
    float: left;
    background-color: #fcd4ce;
    color: #000;
    padding-top: 1.1em;
    height: 100vh;
}

.textUserForm {
    margin-top: 1em;
    text-align: center;
    margin-bottom: 3em;
}

.btnUserForm:hover {
    color: #5d77df;
    border: 1px solid #5d77df;
    background-color: #fff;
}

p.registerText {
    color: #5d77df;
    font-weight: 600;
}

p.sidebarTitle {
    text-transform: uppercase;
}

.card-event {
    margin-right: .01em;
    background-color: #fff;
    margin-top: 1em;
    text-align: justify;
    float: right;
    padding: 2em 3em;
    border-radius: 10px;
}

.event-details {
    display: flex;
}

p.event-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px !important;
    letter-spacing: 1px;
}

.event-category {
    margin-left: auto;
    margin-right: 0;
}

p.event-icon {
    padding-right: 1em;
}

.footerMenu {
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5d76df;
}

button.categoryButton {
    width: 16.66%;
    border: 1px solid transparent;
}

.techButton {
    background: #f0c41d;
}

button:focus {
    outline: 0;
}

img.iconPicture {
    width: 25%;
}

.bookButton, .quizNightButton {
    background-color: #5d77df;
}

.musicButton, .beautyButton {
    background-color: #fcd4ce;
}

.craftButton {
    background-color: #d34845;
}