.bg-primary {
    background-color: #fff!important;
    color: #F29966;
}

body {
    background-color: #F29966;
}

.currentPage {
    font-size: 11px;
}

button.loginButton {
    margin-right: 1.2em;
}

.button-profile-group {
    float: right;
    position: absolute;
    right: 0px;
}

button.profileButton {
    border: 1px solid #F29966;
    background: #fff;
    color: #F29966;
    padding: .5em;
}

.userForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.userForm .h3 {
    text-align: center;
    padding: 2em;
    color: #F29966;
}


.btnUserForm {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width: 100%;
    background-color: #F29966;
    font-size: 1rem;
    margin-bottom: 1em;
}

.textUserForm {
    text-align: center;
    margin-bottom: 3em;
}